@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'VictorMono';
    src: url('./VictorMonoAll/TTF/VictorMono-Medium.ttf');
}

*{box-sizing: border-box !important;}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.hide{display: none !important;}
.selected{@apply bg-blue-400 text-white hover:bg-blue-500}
.each-process{@apply w-full border-b select-none text-sm p-1}
.each-process:not(.selected){@apply text-neutral-600 hover:bg-neutral-100}
.each-buffer{@apply w-full flex flex-row justify-around items-center text-left text-xs font-mono overflow-hidden whitespace-nowrap}
.each-buffer > div:first-child{@apply mr-2}
.each-buffer > div:last-child{@apply w-32}
.byte-values{@apply flex flex-row justify-between items-center w-96}
.each-byte, .p-each-byte > div{@apply flex-1 w-full overflow-hidden whitespace-nowrap text-wrap}
.each-save, .header-save{@apply w-full border-b select-none text-sm p-1 flex flex-row justify-between items-center text-center}
.each-save > div, .header-save > div{@apply flex-1}
.header-save{@apply text-neutral-700 font-bold}
.each-save:not(.selected){@apply text-neutral-600 hover:bg-neutral-100}
.save-list{@apply w-full h-full flex flex-col justify-start items-center overflow-x-hidden overflow-y-auto}
.v-content{@apply w-full h-full bg-neutral-200 rounded-md lg:rounded-lg flex flex-row justify-center items-center p-2 lg:p-3 pt-6 lg:pt-8 gap-2 lg:gap-3}
.each-compare{@apply w-full flex flex-col justify-center items-center border-b p-1}
.each-cline{@apply flex flex-row justify-around items-center w-full font-mono text-xs}
.each-cvalue{@apply w-full text-center}
.each-cvalue.o{@apply bg-neutral-400}
.each-cvalue.diff{@apply text-red-500}
.error{@apply border-2 border-red-500 hover:border-red-600 focus:border-none focus:outline-red-500}
.macro-element{@apply p-1.5 rounded-sm}
div.macro-element{@apply w-full}
button.macro-element{@apply pl-3 pr-3}
.macro-var{@apply w-full text-neutral-600 text-center border-b border-neutral-300}
.hk > div{@apply w-full text-center text-lg lg:text-xl}

button{@apply bg-neutral-50 text-neutral-600 border border-neutral-300 shadow-sm}
button:hover{@apply bg-neutral-100 border-neutral-400}
button:active{@apply bg-blue-400 text-white}
button:disabled{@apply opacity-50 cursor-not-allowed}
button:disabled:hover{@apply bg-neutral-50 border-neutral-300}
button:disabled:active{@apply bg-neutral-50 text-neutral-600}
button.active{@apply bg-blue-400 text-white}

input, select, textarea:not(.editor){@apply bg-neutral-50 text-neutral-800 border border-neutral-300 shadow-sm}
input:hover, select:hover, textarea:hover:not(.editor){@apply bg-neutral-100 border-neutral-400}
input:focus, select:focus, textarea:focus{@apply outline-blue-400}
input:disabled, select:disabled, textarea:disabled{@apply opacity-50 cursor-not-allowed}

textarea{@apply resize-none}
textarea.editor{@apply bg-neutral-800 text-neutral-100}

::-webkit-scrollbar{@apply w-3 bg-neutral-100 p-0.5}
::-webkit-scrollbar-button{@apply hidden}
::-webkit-scrollbar-thumb{@apply bg-neutral-300 w-2 rounded-full}
